<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=\, initial-scale=1.0">-->
    <title>Document</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <nav>
        <div class="logo">
            <h1 class="color-change">Crime Forecasting</h1>
        </div>
        <div class="links">
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./solution.html">Solution</a></li>
                <li><a href="./ContactUs.html">Contact us</a></li>
                <li><a href="./FAQs.html">FAQs</a></li>
                <li><a href="./aboutus.html">About Us</a></li>
            </ul>
        </div>
    </nav>
    <div class="main-ana">
        <h1>Analysis the Crime In India</h1>
        <p>Crime analysis in India involves looking at different kinds of crimes that happen in the country. This includes understanding where and when crimes occur, who is involved, and what types of crimes are most common. It's not just about counting crimes but also trying to figure out why they happen. Factors like poverty, education levels, and community relationships can all play a role. By studying crime patterns and causes, authorities can better target their efforts to prevent crime and keep people safe.</p>
    </div>
    <div class="Year-wise">
      <div class="year-content">
        <h3>Year Wise Analysis of the Crime in India</h3>
        <p>Over the decades spanning from 2001 to 2022, a careful examination of crime in India unveils a dynamic landscape shaped by a multitude of social, economic, and technological factors.</p>
        <div class="chart">
            <canvas id="myChart1"></canvas>
        </div>
      </div>
    </div>
    <div class="Year-wise state">
      <div class="year-content">
        <h3>State Wise Analysis of the Crime in India</h3>
        <p>Understanding crime within specific states in India offers insights into localized trends and challenges, shedding light on the unique socio-economic dynamics and law enforcement strategies influencing crime rates over time.</p>
        <div class="chart">
            <canvas id="myChart2"></canvas>
        </div>
      </div>
    </div>
    <div class="Year-wise all">
      <div class="year-content">
        <h3>Different Types Crime's and their report</h3>
        <p>Examining various types of crime and their corresponding reports provides a comprehensive understanding of the diverse criminal landscape in India.</p>
        <div class="chart">
            <canvas id="myChart3"></canvas>
        </div>
      </div>
    </div>
    <div class="Year-wise voilent">
      <div class="year-content">
        <h3>Voilent Crime in India</h3>
        <p>Analyzing violent crime in India reveals crucial insights into the safety and security of its citizens.
        </p>
        <div class="chart">
            <canvas id="myChart4"></canvas>
        </div>
      </div>
    </div>
    <div class="Year-wise road-muder">
      <div class="year-content">
        <h3>Most Common Crimes in Telangana</h3>
        <p>Theft, fraud, simple hurt and trespassing cases were the most common crimes against the elderly. In terms of disposal of cases, the state saw 55,494 cases from the previous year carried forward in 2021.</p>
        <div class="chart-road">
            <div class="chart"> <canvas id="myChart5"></canvas></div>
            <div class="chart"> <canvas id="myChart6"></canvas></div>
        </div>
      </div>
    </div>

    <footer>
        <div class="fCont">
                <h1 class="color-change">Crime Prediction</h1>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Solution</a></li>
                <li><a href="">Contact us</a></li>
                <li><a href="">FAQs</a></li>
                <li><a href="">About Us</a></li>
            </ul>
        </div>
                <hr>

        <div class="copyright">
            <p>@copyright 2024, All Rights reserved by <b>crime prediction</b></p>
        </div>
    </footer>
</body>
<!-- <script type="module" src="acquisitions.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('myChart1');
new Chart(ctx, {
    type: 'bar',
  data: {
    labels: [2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011, 2012, 1013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021
      ],
    datasets: [{
      label: 'per 100,000 of population',
      data: [308.1,	311.3,	314.5,	317.7,321.9,326.1,334.9,339.4,344.1,349.4,354.9,359.5,366.1,371.4,374.5,377.9,384.6,392.3,387.8,385.5,487.8,445.9],
      borderWidth: 2,
      backgroundColor: '#bebebe',
      borderColor: '#c21d03',
    }]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});

const ctx2 = document.getElementById('myChart2');
new Chart(ctx2, {
    type: 'line',
  data: {
    labels: ['Uttar Pradesh',
    'Bihar',
    'West Bengal',
    'Maharashtra',
    'Assam',
    'Madhya Pradesh',
    'Rajasthan',
    'Odisha',
    'Karnataka',
    'Jharkhand',
    'Haryana',
    'Tamil Nadu',
    'Kerala',
    'Delhi',
    'Gujarat',
    'Telangana',
    'Chhattisgarh',
    'Andhra Pradesh',
    'Punjab',
    'Jammu and Kashmir',
    'Uttarakhand',
    'Himachal Pradesh',
    'Tripura',
    'Meghalaya',
    'Manipur',
    'Arunachal Pradesh',
    'Chandigarh',
    'Goa',
    'Puducherry',
    'Mizoram',
    'Sikkim',
    'Nagaland',
    'Dadra and Nagar Haveli and Daman and Diu',
    'Andaman and Nicobar Islands',
    'Ladakh',
    'Lakshadweep'],
    datasets: [{
      label: 'Total Crime In 2020, 2021, 2022',
      data: [157064,
        144506,
        144174,
        128275,
        66876,
        76443,
        67664,
        83083,
        46984,
        41004,
        38403,
        35706,
        28182,
        33267,
        25679,
        27705,
        25339,
        21002,
        18603,
        8608,
        9698,
        5437,
        4521,
        1681,
        1682,
        1346,
        1038,
        1057,
        606,
        534,
        383,
        402,
        332,
        250,
        62,
        15
        ],
      borderWidth: 2,
      backgroundColor: '#bebebe',
      borderColor: '#c21d03',
    }]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});

const ctx3 = document.getElementById('myChart3');
new Chart(ctx3, {
    type: 'bubble',
  data: {
    labels: ['Theft', 'IPC', 'Assault', 'Motor Vehicle Theft', 'Drug Related Offenses'],
    datasets: [{
        label: 'Most Commited Crime',
        data: [{
          x: 1,
          y: 25,
          r: 25
        }, {
          x: 5,
          y: 20,
          r: 20
        },
      {
        x: 10,
        y:15,
        r : 15
      },
      {
        x: 15,
        y:10,
        r : 10
      },
      {
        x: 20,
        y:5,
        r : 5
      }],
        backgroundColor: '#c21d03'
      }]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});


const ctx4 = document.getElementById('myChart4');
new Chart(ctx4, {
    type: 'radar',
  data: {
    labels: ['Murder', 'Rape', 'Kidnapping', 'Death by road accidents', 'Grievous hurt', 'Riots'],
    datasets: [{
      label: 'per 100,000 population',
      data: [2.1, 4.8 , 7.4 , 10.1 , 6.6 , 3.1],
      borderWidth: 2,
      backgroundColor: '#bebebe',
      borderColor: '#c21d03',
    }]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});

const ctx5 = document.getElementById('myChart5');
new Chart(ctx5, {
    type: 'polarArea',
  data: {
    labels: ['Cyber crime', 'Theft', 'Fraud', 'Simple hurt', 'Trespassing'],
    datasets: [{
      label: '# of Votes',
      data: [15, 11, 7, 5, 3, 1],
      borderWidth: 2,
      backgroundColor: '#bebebe',
      borderColor: '#c21d03',
    }]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});

const ctx6 = document.getElementById('myChart6');
new Chart(ctx6, {
    type: 'doughnut',
  data: {
    labels: ['Murder', 'Rape', 'Kidnapping', 'Crimes against children', 'Human trafficking'],
    datasets: [{
      label: '# of Votes',
      data: [2.1 , 4.8 , 7.4 , 3.3, 3.47],
      borderWidth: 2,
      backgroundColor: '#bebebe',
      borderColor: '#c21d03',
    }]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});
</script>



<script src="./script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>