<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <nav>
        <div class="logo">
            <h1 class="color-change">Crime Forecasting</h1>
        </div>
        <div class="links">
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./solution.html">Solution</a></li>
                <li><a href="./ContactUs.html">Contact us</a></li>
                <li><a href="./FAQs.html">FAQs</a></li>
                <li><a href="./aboutus.html">About Us</a></li>
            </ul>
        </div>
    </nav>
    <section>
        <div class="background">
            <h1>Empowering India's Safety Through <b>Advanced Technology</b></h1>
        </div>
    </section>

    <div class="keyFeatures">
        <marquee direction="right" behavior="alternate">Key Features</marquee>
        <div class="feature_container">
            <div class="cont key1">
                <div class="keyImg"></div>
                <div class="keyContent">
                    <h1>Crime Prediction in India</h1>
                    <p>Explore the latest crime trends and predictions in India with a focus on proactive measures for student and women safety. Our platform offers tailored insights to address crime risks effectively and promote a secure environment for all.</p>
                </div>
            </div>
            <div class="cont key2">
                <div class="keyImg">
                    <h1>Predictive Analysis</h1>
                    <p>Our platform utilizes cutting-edge technology to predict and prevent potential crimes, ensuring proactive safety measures.
                       </p>
                </div>
                <div class="keyContent">
                    
                </div>
            </div>
            <div class="cont key3">
                <div class="keyImg"></div>
                <div class="keyContent">
                    <h1>Interactive User Interface</h1>
                    <p>Provides an intuitive and user-friendly interface, allowing law enforcement personnel to interact with the system, input parameters, visualize crime patterns, and explore predictive analytics easily.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="slider">
        <h1>Unlocking the future: <b>Crime Prediction</b></h1>
        <div class="slid-cont">
            <main><img src="./static/Images/Crime2.png" alt=""></main>
            <main><img src="./static/Images/Crime1.png" alt=""></main>
            <main><img src="./static/Images/Crime3.png" alt=""></main>
            <main><img src="./static/Images/Crime4.png" alt=""></main>
        </div>
    </div>
    <div class="accuracy">
        <div class="heading">
            <h1>Crime Prediction in India</h1>
            <p>Utilizes advanced machine learning algorithms such as scikit-learn to analyze historical crime data and predict future crime occurrences with high accuracy.</p>
        </div>
        <div class="ratings">
            <div class="box box1">
                <h1>91%</h1>
                <p>Accuracy of machine learning model.</p>
            </div>
            <div class="box box2">
                <h1>75%</h1>
                <p>optimize User Interface.</p>
            </div>
            <div class="box box3">
                <h1>80%</h1>
                <p>key findings and achievements.</p>
            </div>
            <div class="box box4">
                <h1>20%</h1>
                <p>future enhancements and improvements.</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="fCont">
                <h1 class="color-change">Crime Prediction</h1>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Solution</a></li>
                <li><a href="">Contact us</a></li>
                <li><a href="">FAQs</a></li>
                <li><a href="">About Us</a></li>
            </ul>
        </div>
                <hr>

        <div class="copyright">
            <p>@copyright 2024, All Rights reserved by <b>crime prediction</b></p>
        </div>
    </footer>
</body>
</html>


