<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <nav>
        <div class="logo">
            <h1 class="color-change">Crime Forecasting</h1>
        </div>
        <div class="links">
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./solution.html">Solution</a></li>
                <li><a href="./ContactUs.html">Contact us</a></li>
                <li><a href="./FAQs.html">FAQs</a></li>
                <li><a href="./aboutus.html">About Us</a></li>
            </ul>
        </div>
    </nav>
    <div class="sol">
        <a href="./Model.html">
        <div class="predict">
            <div class="sol-img">
                <img src="./static/Images/ml.png" alt="">
            </div>
            <div class="sol-content">
                <h1>Crime Prediction Using Machine Learning:</h1>
                <p>Explore our cutting-edge machine learning solution that predicts various crime metrics based on historical data. Our advanced models analyze past crime records and demographic information to provide insights into potential crime hotspots and trends. With our predictive analytics, law enforcement agencies and policymakers can proactively allocate resources and implement targeted interventions to prevent and mitigate crime.</p>
            </div>
        </div>
    </a>
        <a href="/Analysis">
        <div class="forecast">
            <div class="sol-img">
                <img src="./static/Images/predict.png" alt="">
            </div>
            <div class="sol-content">
                <h1>Crime Forecasting:</h1>
                <p>Experience our innovative crime forecasting tool that goes beyond prediction to forecast future crime trends. Leveraging sophisticated time-series analysis techniques, our forecasting models project future crime rates and patterns, enabling proactive decision-making and strategic planning. Stay ahead of emerging crime trends and anticipate future challenges with our powerful crime forecasting solution.</p>
            </div>
        </div>
    </a>
    </div>

</body>
</html>